# Ignore everything with a few exceptions
/*
!.gitignore

# Don't ignore Mods
!Mods/
!Dev/

# Ignore everything under Mods
Mods/*

# Don't ignore specific mod under Mods
!Mods/\[CP\]\ */
Dev/FruitTrees/.vs